.storefront {
    margin-bottom: 182px;

    @include animation(2s);

    &__info {
        max-width: 498px;

        @include animation(1s);
    }
    
    &__title {
        line-height: 44px;
        margin-bottom: 20px;
    }
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: $content-color;
    }

    &__image {
        @include animation(.5s);
    }
}